.flex-container {
  border: 2px solid gray;
  height: 48vh;
  display: flex;
  /* flex-direction: row; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  /* flex-direction: row-reverse; */
  /* justify-content: flex-start; */
  justify-content: flex-end;
  /* justify-content: center; */
  /* align-items: flex-start; */
  align-items: flex-end;
  /* align-items: center; */
  flex-wrap: wrap;
}

.flex-items {
  width: 125px;
  height: 125px;
  margin: 10px;
  background-color: red;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-4 {
  flex-grow: 3;
}

.item-2 {
  flex-grow: 2;
}
